body, html {
  margin: 0;
  box-sizing: border-box;
}

#target {
  opacity: 0;
  text-align: center;
  font-size: 48px;
  font-size: 80px;
  position: absolute;
  margin: 0;
  top: 40%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}
